// sizes
$baseFontSize: 14px;

//breakpoins
$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;

// colors
$gray: #a8a4ac;
$lightGray: #eeeff0;
$darkPurple: #241731;
$red: #ff3838;
$purple: #8a80fd;
$okker: #feb949;
